a{
  margin-left: 600px;
  text-align: center;
  font-size: 20px;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
